.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.button {
    background-color: red!important;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease ;
    margin: 0 10px;
    text-align: center;
}
